[submodule "externals/hcxtools"]
	path = externals/hcxtools
	url = https://github.com/ZerBea/hcxtools.git
[submodule "externals/gocat"]
	path = externals/gocat
	url = https://github.com/Virgula0/gocat.git
