<div class="row mt-4">
  <div class="col-md-4">
    <a href="/handshakes" class="card-link">
      <div class="card card-blue mb-4">
        <div class="card-body">
          <h5 class="card-title">Handshakes</h5>
          <p class="card-text">View and manage handshakes</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/clients" class="card-link">
      <div class="card card-orange mb-4">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <p class="card-text">Manage client information</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/raspberrypi" class="card-link">
      <div class="card card-grey mb-4">
        <div class="card-body">
          <h5 class="card-title">RaspberryPI</h5>
          <p class="card-text">Monitor RaspberryPI devices</p>
        </div>
      </div>
    </a>
  </div>
</div>