<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H.D.S Handshake Dashboard</title>
    <link rel="stylesheet" href="/styles/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script>
        (function() {
            const isDarkMode = localStorage.getItem("darkMode") === "true";
            document.documentElement.classList.toggle("dark-mode", isDarkMode);
        })();
    </script>

    <!-- Here we define the static client UUIDs -->
    <script>
        var clientUUIDs = "{{ .InstalledClients }}";
    </script>
</head>
<body>
<div class="d-flex toggled" id="wrapper">
    <!-- Sidebar -->
    {{ template "sidebar.html" .}}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {{ template "navbar.html" .}}

        <div class="container-fluid">
            {{ template "cards.html" .}}

            {{if .Error}}
            <div class="alert alert-danger mb-4">
                {{.Error}}
            </div>
            {{else if .Success}}
            <div class="alert alert-success mb-4">
                {{.Success}}
            </div>
            {{end}}

            <div class="row mt-4" id="handshakes">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Handshakes</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="searchInput"
                                       placeholder="Search by ClientUUID, SSID, BSSID, or Status">
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>UUID</th>
                                        <th>Status</th>
                                        <th>Crack</th>
                                        <th>Delete</th>
                                        <th>Client UUID</th>
                                        <th>SSID</th>
                                        <th>BSSID</th>
                                        <th>Uploaded Date</th>
                                        <th>Cracked Date</th>
                                        <th>Hashcat Options</th>
                                        <th>Hashcat Logs</th>
                                        <th>Cracked Handshake</th>
                                    </tr>
                                    </thead>
                                    <tbody id="handshakeTableBody">
                                    {{ range .Handshakes }}
                                    <tr>
                                        <td>{{ .UUID }}</td>
                                        <td>
                                            <span class="status-dot status-{{ .Status  }}"></span>{{ .Status }}
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-primary crack-btn" data-uuid="{{ .UUID }}">Crack</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-danger delete-btn-handshake" data-uuid="{{ .UUID }}">Delete</button>
                                        </td>
                                        <td>{{ if .ClientUUID }}{{ .ClientUUID }}{{ else }}Not Assigned{{ end }}</td>
                                        <td>{{ .SSID }}</td>
                                        <td><span class="sensitive-info">{{ .BSSID }}</span></td>
                                        <td>{{ .UploadedDate }}</td>
                                        <td>{{ if .CrackedDate }}{{ .CrackedDate }}{{ else }}Not cracked yet{{ end }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-warning hashcat-options-btn"
                                                    data-options="{{ .HashcatOptions }}">View
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-warning hashcat-logs-btn"
                                                    data-logs="{{ .HashcatLogs }}">View
                                            </button>
                                        </td>
                                        <td>
                                            {{with .CrackedHandshake }}
                                                {{if eqStr . ""}}
                                                    Not cracked yet
                                                        {{- else -}}
                                                        <span class="sensitive-info">{{ . }}</span>
                                                        {{ end }}
                                                    {{ else }}
                                                Not cracked yet
                                            {{- end -}}
                                        </td>
                                    </tr>
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        {{ template "page_navigation.html" . }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{ template "modals_and_scripts.html" . }}
</body>
</html>
