<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">H.D.S Dashboard</div>
    <div class="list-group list-group-flush">
        <a href="#" class="nav-link" data-toggle="modal" data-target="#addHashModal">
            <i class="fas fa-plus-circle mr-2"></i>Add hash entry
        </a>
        <a href="#" class="nav-link" data-toggle="modal" data-target="#uploadWordlistModal">
            <i class="fas fa-file-alt mr-2"></i> Upload Wordlist
        </a>
        <a href="/handshakes" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="fas fa-handshake mr-2"></i>Handshakes
        </a>
        <a href="/clients" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="fas fa-users mr-2"></i>Clients
        </a>
        <a href="/raspberrypi" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="fas fa-microchip mr-2"></i>RaspberryPi
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-white" id="settingsLink">
            <i class="fas fa-cog mr-2"></i>Settings
        </a>
        <a href="/logout" class="list-group-item list-group-item-action bg-dark text-white">
            <i class="fas fa-sign-out-alt mr-2"></i>Logout
        </a>
    </div>
</div>